@charset "UTF-8";

/* 課題05のCSS
========================================================================== */
* {
    box-sizing:border-box; 
}

a {
    text-decoration: none;
    display: block;
}

img{
    max-width:100%;
    height:auto;
}

/* .container {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1100px;
    position: relative;
} */

/* .row {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
} */

/* header */
header {
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    justify-content:space-between;
    padding: 0 2rem;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    padding: 2rem 1rem;
}

nav li a {
    color: #7C7C7D;
}

nav li a:hover {
    color: #181819;
}