@charset "UTF-8";

/* 課題05のCSS
========================================================================== */
* {
    box-sizing:border-box; 
}

a {
    text-decoration: none;
    display: block;
}

p {
    line-height: 1.6rem;
}

img{
    max-width:100%;
    height:auto;
}

.row {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    flex-wrap: wrap;
}

h2 {
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.3em;
}

h3 {
    letter-spacing: 0.3rem;
    font-size: 1.75rem;
    font-weight: 500;
}

section {
    padding: 3rem 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
}

/* header */
header {
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    justify-content:space-between;
    padding: 0 6rem;
    align-items: center;
}

.logo a {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    line-height: inherit;
}

.logo a img {
    width: 75%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    padding: 2rem 1rem;
}

nav li a {
    color: #7C7C7D;
}

nav li a:hover {
    color: #181819;
}

/* 診療案内 */
.detail {
    text-align: center;
}

.detail a {
    border: 1px solid #343A3F;
    color: #343a40;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}

.detail a:hover {
    color: #fff;
    background-color: #343A3F;
}

figcaption p {
    margin-bottom: 25px;
}

/* 診療ポリシー */
main section:nth-child(2) {
    background-color: #ecf7fb;
}

.col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-5 h3 {
    display: flex;
    align-items: center;
}

.col-md-5 h3 span {
    font-family: 'Libre Caslon Text', serif;
    margin-right: 1rem;
    border-bottom: 5px solid #B2C2E1;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.reverse {
    order: 2;
}

/* 院内紹介 */
main section:nth-child(3) p {
    text-align: center;
    padding-bottom: 3rem
}

main section:nth-child(3) .row figure {
    margin: 0 0 1rem;
}

figure {
    flex: 0 0 25%;
    max-width: 25%;
}


/* footer */
footer {
    background-color: #ECF7FA;
}

table {
    width: 100%;
}

thead {
    background-color: #6b90db;
    color: #fff;
}

tr {
    border-bottom: 1px solid #dee2e6;
}

.col {
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 50%;
    max-width: 50%;
}

.col p:last-child{
    font-size: 80%;
    margin-bottom: 1.5rem;
}

